{% extends "base.html" %}
{% autoescape on %}
{% block content %}
{% include "nav.html"%}

<br/>
<table id="result_list" align="center">
  <thead>
    <tr>

      <th scope="col"  class="action-checkbox-column" width="10">
        <div class="text"><span>name</span></div>
      </th>
      <th scope="col"  class="action-checkbox-column" width="10">
        <div class="text"><span>price</span></div>
      </th>
      <th scope="col"  class="action-checkbox-column" width="10">
        <div class="text"><span>type</span></div>
      </th>
      <th scope="col"  class="action-checkbox-column" width="30">
        <div class="text"><span>image</span></div>
      </th>
      <th scope="col"  class="column-__str__" width="50">
        <div class="text"><span>music</span></div>
      </th>
      <th scope="col"  class="column-__str__" width="100">
        <div class="text"><span>article</span></div>
      </th>
      <th scope="col"  class="column-__str__" width="300">
        <div class="text"><span>video</span></div>
      </th> 
    </tr>
  </thead>
  <tbody>

    {%for obj in products%}
    <tr class="rowl">
      <th><a href="5/">{{obj.name}} </a></th>
      <th>{{obj.price}} </a></th>
      <th>{{obj.ptype}} </a></th>
      <th><img src="/media/{{obj.img}}" height="100" width="100"/> </a></th>
      <th><audio src="/media/{{obj.music}}" controls="controls" ></th></th>
<th><textarea rows="20" cols="50">{{obj.texts}}</textarea></th>
<th><video controls="controls" src="/media/{{obj.video}}">

<script>
  var videoElement = document.getElementById("myvideo");
    
  function toggleFullScreen() {
    if (!document.mozFullScreen && !document.webkitFullScreen) {
      if (videoElement.mozRequestFullScreen) {
        videoElement.mozRequestFullScreen();
      } else {
        videoElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
      }
    } else {
      if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else {
        document.webkitCancelFullScreen();
      }
    }
  }
  
  document.addEventListener("keydown", function(e) {
    if (e.keyCode == 13) {
      toggleFullScreen();
    }
  }, false);
</script>
</video></th>

    </tr>
    {%endfor%}

  </tbody>
  </table>

{% endblock %}
{% endautoescape %}
